apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ai-chatbot-root-prod-cluster
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/kushal1313/opsly-devops
    targetRevision: main
    path: argocd/applications/prod
  destination:
    server: https://kubernetes.default.svc
    name: prod-cluster
    namespace: chatbot-prod
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

